<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Online shoppers Intenstion</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
</head>

<body>
    <div class="header">
        <div class="title">
            <h1>ANN to predict Online Shoppers Intention</h1>
        </div>
        <div class="detail">
            <h4>Jnanashish Handique</h4>
            <h4>Regd.No: 11809624</h4>
        </div>
    </div>
    <div class="body">
        <div class="navbar">
            <a href="#"><span class="nav">Home</span></a>
            <a href="notebook"><span class="nav">Notebook</span></a>
            <a href="report"><span class="nav">Report</span></a>
        </div>
        <h2>Report NAH</h2>
    </div>
</body>

</html>